.x-grid-cell-inner-treecolumn {
    text-align: left !important;
}

.paneltool {
    left: 0!important;
}

.x-grid-cell-inner {
    text-align: left!important;
}

.gridAddLotes .x-grid-dirty-cell > .x-grid-cell-inner:after {
    color: transparent;
}

.warning-message .x-form-display-field-default {
    color: #cf4c35;
    font-weight: 600;
}

.custom-contratistas-icon-style:before {
    border: 1px solid;
    border-radius: 35px;
    padding: 0 2px;
    left: -1px;
    position: relative;
}