.x-grid-cell-inner-treecolumn {
    text-align: left !important;
}

.paneltool {
    left: 0!important;
}
/*.x-tree-elbow-img.x-tree-elbow-empty,
.x-tree-elbow-img.x-tree-elbow-line {
    display: none;
}*/